body {
    background: url('images/cloudBG.jpg') no-repeat center center fixed;
    margin-bottom: 5%;

   }
   
#mainContentContainer{
    background-color: gray;
    height: auto;

}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    background-color: white;
    text-align: center;
    border-top-style: solid;
    border-top-width: 3;
    border-top-color: lightgray;
}
.navStyle{
    margin-bottom: 1%;
    background-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 3;
    border-bottom-color: lightgray;
}
.mainContentStyle{
    margin-top: 4%;
   
}
.mainContentHeader{
    text-align: center;
}
.searchContentStyle {
    margin-top: 2%;
}
.loginStyle {
    margin-top: 2%;
}
.imageStyle {
    width: 300px;
    height: 500px;
}
.float {
    float: left;
}

.resizeImage{
    width: 200px;
    height: auto;
}
.altNavStyle {
    margin-top: 2%;
}
a{
    color: white;
    font-size: 18px;
}
.purchaseImageResize{
    width: 200px;
    height: auto;
}

.btn-primary {
    margin-top: 10px;
}

.trendingDiv, .genreDiv, .randomDiv, .searchDiv{
    width: 350px;
    height: auto;
    float: left;
    display: center;
    padding: 10px;
}
.trendingDiv img, .genreDiv img, .randomDiv img, .searchDiv img {
    width: 200px;
    height: 300px;
    float: left;
}
.titleStyle{
    font-size: 20px;
    overflow: hidden;
    height: 50px;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
    margin-left: 2%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}