body {
    background: url('images/cloudBG.jpg') no-repeat center center fixed;
   }
   
#mainContentContainer{
    background-color: gray;
    height: auto;
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    background-color: white;
    text-align: center;
    border-top-style: solid;
    border-top-width: 3;
    border-top-color: lightgray;
}
.navStyle{
    margin-bottom: 1%;
    background-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 3;
    border-bottom-color: lightgray;
}
.mainContentStyle{
    margin-top: 4%;
   
}
.mainContentHeader{
    text-align: center;
}
.searchContentStyle {
    margin-top: 2%;
}
.loginStyle {
    margin-top: 2%;
}
.imageStyle {
    width: 300px;
    height: 500px;
}
.float {
    float: left;
}

.resizeImage{
    width: 200px;
    height: auto;
}
.altNavStyle {
    margin-top: 2%;
}
a{
    color: white;
    font-size: 18px;
}
.purchaseImageResize{
    width: 200px;
    height: auto;
}
.trendingDiv{
    width: 260px;
    height: auto;
    float:left;
    display: inline;
    padding: 10px;
}
.trendingDiv img {
    width: 200px;
    height:auto;
    float: left;

}