body {
    background-color: white;
    margin-bottom: 9%;
    color: #c5c6c7;

   }
   
#mainContentContainer{
    background-color:#0b0c10;
    height: auto;
    margin-top: 5%;

}
/* background-color: #1f2833; */


.logoImage{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}




  .modal {
      
    margin-top: 10%;
    z-index: 2000;
  }

  .modal-backdrop {
    z-index: -1;
  }
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 1%;
    background-color: #1f2833;
    text-align: center;
    border-top-style: solid;
    border-top-width: 3;
    border-top-color: #66fcf1;
}


.navStyle{
    position: fixed;
    width: 100%;
    background-color: #1f2833;
    border-bottom-style: solid;
    border-bottom-width: 3;
    border-bottom-color: #66fcf1;
    z-index: 5;
}

.linkStyle{
    color:white !important ;
}
.linkStyle:hover{
    color: #66fcf1 !important;
    text-decoration: underline;
}

.navbar-nav .current{
    color: #66fcf1 !important;
    text-decoration: underline;
}

.fullContent{
margin-top: 5%;
}

.mainContentStyle{
    margin-top: 4%;

}

.indexDisplay{
    width: 100%;
    height: auto;
    margin-top: 1%;

}


.hero1{
    width: 98%;
    height: auto;
    position: relative;
    right: 53%;
    top: 13em;
    margin-left: 22%;
    z-index: 2;

}


.aboutDiv {
    position: absolute;
    top: 14%;
    right:2%;
    height: 78%;
    width: 48%;
    z-index: 1;


    background-color: #1f2833;
}

.aboutParagraph{
    position: relative;
    font-size: 26px;
    font-family: "Koho", sans-serif;
    font-style: italic;
    margin-right: 15%;
    margin-left: 32%;
    margin-top: 24%;
    z-index: 2;
}

.aboutTitle{
font-size: 69px;
color: white;
font-weight: bold;
font-family: "Koho", sans-serif;
text-decoration: underline;

}
.aboutTitleDiv{
    position: relative;
    bottom: 69%;
    left: 55%;
    z-index: 5;
}



.mainContentHeader{
    text-align: center;
}
.searchContentStyle {
    margin-top: 2%;
}
.loginStyle {
    margin-top: 2%;
    cursor: pointer;
}
#logInButton{
    color: white;
}
#logInButton:hover{
    color: #66fcf1;
    cursor: pointer;
}
#signOut{
    color: white;
}
#signOut:hover{
    color: #66fcf1;
    cursor: pointer;
}
.imageStyle {
    width: 300px;
    height: 500px;
    cursor: pointer;

}
.float {
    float: left;
}

.resizeImage{
    width: 200px;
    height: auto;
}
.altNavStyle {
    margin-top: 2%;
    margin-left: 20%;
    margin-bottom:2%;
}
a{
    color: white;
    font-size: 18px;
}
.gitLink{
    color: white;
}
.purchaseImageResize{
    width: 200px;
    height: auto;
}

.btn-primary {
    margin-top: 10px;
}

.searchForm{
    width: 100%;
}

.trendingDiv, .genreDiv, .randomDiv, .searchDiv{
    width: 200px;
    height: auto;
    float: left;
    margin-left: 16%;
    /* margin-right: 3%; */
    
    
}
.trendingDiv img, .genreDiv img, .randomDiv img, .searchDiv img {
    width: 200px;
    height: 300px;
    float: left;
    
}
.dynamicButton{
    width: 200px;
    margin-bottom: 6px;
}
.titleStyle{
    font-size: 20px;
    overflow: hidden;
    height: 50px;
    width: 200px;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
    margin-left: 2%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#addToWatchList{
    background-color: #fff;
    padding: .27em .75em;
    font-size: 1.25em;
    font-weight: 700;
    color: #000 !important;
    z-index: 5;
    border-color: #66fcf1;
    border-width: .1em;
    border-style: solid;
    cursor: pointer;
    margin-bottom: .7em;
}

.active:after

.altNavButtons{
    color:white;
}

.altNavButtons.active::after{
    text-decoration:underline !important;
    color:YOUR-LINK-COLOR;
}

.altNavButtons:hover{
    color: #66fcf1 !important;
    text-decoration:underline !important;
    cursor: pointer;

}

.current{
    color: #66fcf1 !important;
    text-decoration: underline !important;
}

.dynamicText{
    color: #1f2833;
}
.watchListStyle{
    text-decoration: underline;
    color: #1f2833;
}

#watchList{
    background-color: #1f2833;
}

.dropup{
    position: relative;
    top: 16.2%;
    right:18%;
    height: auto;
    width: 72%;
background-image: url("../assets/images/darkimage.jpg");
    z-index: 4;
    /* border-color: #66fcf1;
    border-width: .08em;
    border-style: solid; */

}

.logInButton{
    position: relative;
    right: 1%;
}


.logInButton{
    background-color: #fff;
    padding: .27em .75em;
    font-size: 1.25em;
    font-weight: 700;
    color: #000 !important;
    margin: 1.99em;
    z-index: 5;
}

.callOutButton {
    background-color: #fff;
    padding: .27em .75em;
    font-size: 1.25em;
    font-weight: 700;
    color: #000 !important;
    margin: 1.99em;
    z-index: 5;
    border-color: #66fcf1;
    border-width: .1em;
    border-style: solid;
}

.btn-animated {
    animation: moveInButton .5s ease-out;
    animation-fill-mode: backwards;
}
.btn-callOut:link, .btn-callOut:visited {
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    position: relative;
}
.btn-callOut:hover:after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-callOut:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.btn-callOut:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.btn-callOut:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
@keyframes moveInButton{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

    
}

@keyframes logInButton{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

    
}